
/* NAVBAR */
.navbar {
    padding: 12px 0;
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
    transition: all 0.3s ease;
}

.navbar-brand {
    font-size: 22px;
    font-weight: 700;
    color: #198754 !important;
    display: flex;
    align-items: center;
    gap: 6px;
}
.nav-link {
    margin: 0 8px;
    font-weight: 500;
    color: #333 !important;
    position: relative;
    transition: 0.3s;
}
/* hover color */
.nav-link:hover {
    color: #198754 !important;
}

/* underline effect */
.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background: #198754;
    transition: 0.3s;
}

.nav-link:hover::after {
    width: 100%;
}
/* logo*/
.logo-img{
    height: 50px;
    width: auto;
}
.logo-text{
    font-family: "Brush Script MT", cursive;
    font-size: 26px;
    color: #2e7d32;
    font-weight: 500;
}
/* icons */
.fa {
    font-size: 18px;
    color: #333;
    transition: 0.2s;
}

.fa:hover {
    color: #198754;
    transform: scale(1.15);
}

/* FOOTER */
footer.footer {
    background: linear-gradient(135deg, #0f172a, #1f2937);
    color: #cbd5e1;
    padding: 50px 0 20px;
    margin-top: 50px;
}

.footer-title {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 14px;
}

.footer-text {
    font-size: 14px;
    color: #cbd5e1;
    line-height: 1.6;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 8px;
}

.footer-links a {
    color: #cbd5e1;
    text-decoration: none;
    transition: 0.3s;
}

.footer-links a:hover {
    color: #22c55e;
    padding-left: 6px;
}

.footer-line {
    border-color: rgba(255,255,255,0.1);
    margin: 25px 0;
}

.footer-bottom {
    font-size: 13px;
    color: #94a3b8;
    text-align: center;
}

/* RESPONSIVE*/
@media (max-width: 768px) {

    .navbar {
        padding: 10px;
    }

    .nav-link {
        margin: 6px 0;
    }

    footer.footer {
        text-align: center;
    }
}
.swal2-backdrop-show {
    backdrop-filter: blur(4px);
}